@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Компьютерный магазин</h1>
    <p class="lead">Система автоматизации учета торговой деятельности</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

