@model List<string>
@{
    ViewBag.Title = "Index";
}

<h2>Поиск товара в наличии</h2>

@using (Html.BeginForm("Index", "Search", FormMethod.Get))
{
    <div>
        <p>

            Поиск товара: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @placeholder = "Поиск по идентификатору", @style = "width:364px;" })
            <input type="submit" value="Поиск" />
        </p>
    </div>
}

<table class="table">
    
    
        @foreach (var item in Model)

        {
           <tr> 
               <td>
            @item
                </td>
               </tr>

        }

</table>