@model PagedList.IPagedList<CompStore.Category>
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
}

<h2>Категории</h2>
@if (User.IsInRole("Manager") || User.IsInRole("Director"))
{
    <p>
        @Html.ActionLink("Добавить", "Create")
    </p>
}


<h3>Категории</h3>
<div id="app"></div>
<script src="Scripts/categories.js"></script>

<div style="text-align: center;">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }),
           new PagedListRenderOptions
           {
               LinkToFirstPageFormat = "<<",
               LinkToPreviousPageFormat = "Назад",
               LinkToNextPageFormat = "Вперед",
               LinkToLastPageFormat = ">>"
           })

